{% include 'header.html' %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <span class="navbar-brand mb-0 h1">&#128203; Available Resources</span>
    </nav>
    <div class="container text-center mt-3 mb-3">

            {% for chat in chats %}
            <a class="text-decoration-none" href="/{{chat.page_id}}">
              <span class="badge badge-primary m-2 p-2 rounded-lg big-text font-weight-normal">
                <img width="64" class="rounded-lg" src="/{{chat.page_id}}/logo?big=1">
                {{chat.name}}
                </span>
            </a>
            {% endfor %}
    </div>
{% include 'footer.html' %}
