{% include 'header.html' %}
             <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
              <a class="navbar-brand" onclick="history.back()">
                <img src="{{logo}}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
                {{name}}
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
              </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="m-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">&#128269;</div>
                        </div>
                        <input class="form-control" type="text" name="search" value="{% if search %}{{search}}{% endif %}" placeholder="Search...">
                    </div>
                </form>
                </div>
            </nav>
           <div class="container text-center mt-3">
                
            
            {% if item_list %}

                <div class="container text-center">
                    {% for item in item_list %}
                      <a href="{{item.url}}" class="text-decoration-none text-dark">
                      <div class="card mb-3">
                        {% if item.media %}
                          <img src="{{item.thumbnail}}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                        <h5 class="card-title" >{{item.insight}}</h5>
                        <div class="card-text">{% if item.media %} {{item.human_size}} &dash; {{item.mime_type}} {% else %} Text Message {% endif %}</div>
                            
                      </div>
                      </div>
                      </a>
                    {% endfor %}
            
                </div>

                <span class="badge badge-warning justify-content-center mb-3">
                    Total {{item_list|length}} Items
                </span>
                
                <nav class="text-center">
                  <ul class="pagination justify-content-center">
                    {% if prev_page %}
                        <li class="page-item"><a title="Previous page" class="page-link" href="{{prev_page.url}}">&laquo;</a></li>
                        <li class="page-item"><a title="Previous page" class="page-link" href="{{prev_page.url}}">{{prev_page.no}}</a></li>
                    {% endif %}
                        <li class="page-item active"><a title="Previous page" class="page-link" href="#">{{cur_page}}</a></li>
                    {% if next_page %}
                        <li class="page-item"><a title="Previous page" class="page-link" href="{{next_page.url}}">{{next_page.no}}</a></li>
                        <li class="page-item"><a title="Previous page" class="page-link" href="{{next_page.url}}">&raquo;</a></li>
                    {% endif %}
                  </ul>
                </nav>
                
            {% else %}
                
                <p class="my-4 text-center text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
                    No message to display!
                </p>
            
            {% endif %}

{% include 'footer.html' %}
