{% include 'header.html' %}
             <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
              <span class="navbar-brand mb-0 h1">&#128193;</span>
              <button class="btn btn-dark" align="right" onclick="history.back()" type="button">
                 &laquo;
              </button>
             </nav>
           <div class="container text-center mt-3">

            <div class="container">
                {% if found %}
                    {% if media %}
                        <div class="card mt-3 mb-2">
                        
                        <div class="card-img-top">
                            {% if media.image %}
                                <img class="card-img-top" src="{{thumbnail}}" alt="{{name}}">
                            {% elif media.video %}
                               <video class="card-img-top" id="player-video" playsinline controls data-poster="{{thumbnail}}">
                                 <source src="{{download_url}}" type="{{mime_type}}" />
                               </video>
                               <script>
                                 const player = new Plyr('#player-video');
                               </script>

                            {% elif media.audio %}
                                <audio id="player-audio" controls>
                                  <source src="{{download_url}}" type="{{mime_type}}" />
                                </audio>
                                <script>
                                 const player = new Plyr('#player-audio');
                                </script>
                            {% endif %}
                            </div>
                               <div class="card-body">
                                <h5 class="card-title">{{name}} ({{human_size}})</h5>

                            {% if caption_html %}

                                     <hr><p class="card-text text-left"> {{ caption_html|safe }} </p>
                                    
                                    {% if reply_btns %}
                                        <div class="w-full block">
                                            {% for row in reply_btns %}
                                                <div class="flex justify-center">
                                                    {% for btn in row %}
                                                        <a class="btn btn-outline-dark mb-1" href="{{ btn.url }}" target="_blank"> {{btn.text}} </a>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                 </div>
                            {% endif %}
                        </div>
                        {% if not block_downloads %}
                            <div class="text-center text-white">
                              <a class="btn btn-primary btn-lg btn-block mb-2" download="{{name}}" href="{{download_url}}">Download</a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="card mx-auto flex flex-wrap justify-center w-full md:w-3/4 mt-1">
                            <div class="card-body">
                                <p class="card-text"> {{ text_html|safe }} </p>
                            </div>
                            {% if reply_btns %}
                                <div class="w-full block">
                                    {% for row in reply_btns %}
                                        <div class="flex justify-center">
                                            {% for btn in row %}
                                                <a class="btn btn-outline-dark mb-1" href="{{ btn.url }}" target="_blank"> {{btn.text}} </a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                {% else %}
                    <h1 class="text-primary">Ooops...</h1>

                    <p class="text-center text-dark">
                        {{ reason }}
                    </p>
                {% endif %}

            </div>

{% include 'footer.html' %}
