{% include 'header.html' %}
             <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
              <span class="navbar-brand mb-0 h1">&#128193;</span>
              <button class="btn btn-dark" align="right" onclick="history.back()" type="button">
                 &laquo;
              </button>
             </nav>
           <div class="container text-center mt-3">

            <div class="container">
                {% if found %}
                    {% if media %}
                        <div class="card mt-3 mb-2">
                        
                        <div class="card-img-top">
                            {% if media.image %}
                                <img class="card-img-top" src="{{thumbnail}}" alt="{{name}}">
                            {% elif media.video %}

                                <div id="my-video-wrapper">
                                    <video id="my-video-player" controls poster="{{thumbnail}}">
                                        <source src="{{download_url}}" type="video/mp4" />
                                    </video>
                                </div>

                                <script>
                                    var video = document.querySelector("video");
                                    var src = video.firstElementChild

                                    src.addEventListener('error', function(evt) {
                                        console.log(evt);
                                        document.getElementById('my-video-wrapper').style.display = 'none';
                                        document.getElementById('video-warning').style.display = 'block';
                                    });
                                    var myFP = fluidPlayer(
                                        'my-video-player',{
                                            "layoutControls": {
                                                "autoPlay": false,
                                                "mute": true,
                                                "allowTheatre": true,
                                                "playPauseAnimation": true,
                                                "playbackRateEnabled": true,
                                                "allowDownload": false,
                                                "playButtonShowing": true,
                                                "fillToContainer": true,
                                                "posterImage": ""
                                            }
                                        }
                                    );
                                </script>
                            {% elif media.audio %}
                                 <div id="audio-warning" class="mx-auto p-4 bg-gray-600 text-gray-300 rounded border text-center hidden break-words">
                                    <p> Audio {{name}} could not be played!</p>
                                </div>

                                <div id="my-audio-wrapper">
                                    <img class="mx-auto rounded w-full" src="{{thumbnail}}" alt="{{name}}">
                                    <audio class="mx-auto" controls muted>
                                        <source src="{{download_url}}" type="audio/mpeg" />
                                    </audio>
                                </div>
                                <script>
                                    var audio = document.querySelector("audio");
                                    var src = audio.firstElementChild

                                    src.addEventListener('error', function(evt) {
                                        console.log(evt);
                                        document.getElementById('my-audio-wrapper').style.display = 'none';
                                        document.getElementById('audio-warning').style.display = 'block';
                                    });
                                </script>
                            {% endif %}
                            </div>
                               <div class="card-body">
                                <h5 class="card-title">{{name}} ({{human_size}})</h5>

                            {% if caption_html %}

                                     <hr><p class="card-text text-left"> {{ caption_html|safe }} </p>
                                    
                                    {% if reply_btns %}
                                        <div class="w-full block">
                                            {% for row in reply_btns %}
                                                <div class="flex justify-center">
                                                    {% for btn in row %}
                                                        <a class="btn btn-outline-dark mb-1" href="{{ btn.url }}" target="_blank"> {{btn.text}} </a>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                 </div>
                            {% endif %}
                        </div>
                        {% if not block_downloads %}
                            <div class="text-center text-white">
                              <a class="btn btn-primary btn-lg btn-block mb-2" download="{{name}}" href="{{download_url}}">Download</a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="card mx-auto flex flex-wrap justify-center w-full md:w-3/4 mt-1">
                            <div class="card-body">
                                <p class="card-text"> {{ text_html|safe }} </p>
                            </div>
                            {% if reply_btns %}
                                <div class="w-full block">
                                    {% for row in reply_btns %}
                                        <div class="flex justify-center">
                                            {% for btn in row %}
                                                <a class="btn btn-outline-dark mb-1" href="{{ btn.url }}" target="_blank"> {{btn.text}} </a>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                {% else %}
                    <h1 class="text-primary">Ooops...</h1>

                    <p class="text-center text-dark">
                        {{ reason }}
                    </p>
                {% endif %}

            </div>

{% include 'footer.html' %}
